<div class="background">
    <div class="container">
      <img src="../../assets/logotypes-login-cadastro/logopronta.svg" alt="Logo do Banco" class="logo">
      <form>
        <div class="conta-criada">
          <p for="user-created" class="user-created">Usuário criado com sucesso!</p>
        </div>
        <div class="conta-criada" class="usar-conta">
          <p for="pix geral">Comece já a usar sua conta</p>
        </div>
        
        <div class="conta-criada">
          <div class="btn-acessar">
            <a class="login-link" [routerLink]="['/home']">Acessar Conta</a></div>
          <div class="icon-container">
            <a id="support-icon">
              <i class="fa fa-comments" aria-hidden="true"></i>
            </a>
            <div id="support-menu" class="support-menu">
            </div>
          </div>
        </div>
      </form>
  </div>