
<div class="background">
  <div class="container col-lg-4 col-md-6 pt-5 pb-0 mt-1 d-flex text-start d-lg-none justify-content-start pb-5">
    <div>
      <a [routerLink]="['/home']"><img id="seta-dark" src="../../assets/conta-criada/seta-dark.svg" alt=""></a>
      <a [routerLink]="['/home']"><img id="seta-light" src="../../../assets/conta-criada/seta-light.svg" alt=""></a>
    </div>
  </div>
  <div class="container col-md-6 pb-5 mt-lg-5">

    <section class="border border-bottom-0 border-secondary rounded-top border-opacity-50 p-5 shadow-sm text-start">    
      <div>
        <h3 class="mb-4 text-center">Seus Dados:</h3>
      </div>
      <div class="form-group mb-1">
        <h5>Número da Conta:</h5>
        <p class="ms-3">{{numeroConta}}</p>
      </div>
      <div class="form-group mb-1">
        <h5>Número da Agência:</h5>
        <p class="ms-3">{{numeroAgencia}}</p>
      </div>
    </section>

    
    <form class="border border-top-0 border-secondary rounded-bottom border-opacity-50 p-5 pt-0 shadow-sm" [formGroup]="changeAccountForm" (ngSubmit)="onSubmit()">
      <div>
        <h3 class="text-start mb-4">Altere seus Limites de Segurança:</h3>
      </div>
      <div class="form-group mb-1 text-start">
        <label for="pix-geral">Valor Máximo de Pix Diurno (Limite de R$50.000,00):</label>
        <input type="tel"
        class="col-sm-5 col-12 p-2 rounded mb-3"
        currencyMask
        placeholder="R$ 0,00"
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left', allowNegative: false, max: 50000 }" 
        id="pix-geral" 
        name="pix-geral" 
        formControlName="pix-geral"/>
      </div>
      <div class="form-group text-start">
        <label for="pix-noturno">Valor Máximo de Pix Noturno (Limite de R$50.000,00):</label>
        <input type="tel" 
        currencyMask
        placeholder="R$ 0,00"
        class="col-sm-5 col-12 p-2 rounded"
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left', allowNegative: false, max: 50000 }" 
        id="pix-noturno" 
        name="pix-noturno" 
        formControlName="pix-noturno"/>
      </div>
      <div class="form-group mt-3 text-start">
        <label for="pin">Confirmar PIN</label>
        <input type="password" class="col-sm-4 col-12 p-2 rounded" name="pin" id="pin" mask="0000" placeholder="0000" formControlName="pin">
      </div>
      <div class="form-group mt-5 mb-5">
        <button type="submit" class="btn-reset login-button">Alterar Limites</button>

      </div>
      <!-- <div id="excluir" class="form-group">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Excluir Conta
        </button> -->
      <!-- </div> -->
      <div class="mensagem-erro d-none mb-3 text-danger">

      </div>

      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-black" id="exampleModalLabel">Deseja excluir a conta permanentemente?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-black text-start">
                Ao excluir sua conta, você não terá mais acesso a mesma, porém suas transações estarão gravadas em nosso sistema. <br>Lembre-se que seu saldo tem que ser R$0,00 para conseguir excluir.
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
      
    </form>

</div>