<div class="container">
    <div class="transacao">
        <div class="infoGerais">
            <h3>Transação</h3>
            <h4>Realize a sua transação</h4>
            <p>{{ formulario.value | json}}</p>

            <form [formGroup]="formulario">
                <input type="text" placeholder="Tipo de Transação" formControlName="tipo">
                <input type="number" placeholder="Valor da Transação" formControlName="valor">
                <input type="text" placeholder="Conta Destino" formControlName="contaDestino">
                <input type="text" placeholder="Data da Transação" formControlName="data">
            </form>
        </div>
        <div class="outro"></div>
    </div>
</div>