@media (prefers-color-scheme: dark) {
  * {
    background-color: #000;
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #e5e5e5;
    color: #000000;
  }
}

img:hover {
  transition-duration: 400ms;
  transform: scale(1.02);
}
