.user-greetings-container {
  display: flex;
  justify-content: space-between; /* Para alinhar os elementos nos extremos */
  align-items: center;
  margin-top: 5%;
  width: 80vw;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.avatar-container,
.vetor-container {
  display: inline-block; /* Para permitir que os elementos sejam exibidos lado a lado */
}

.avatar {
  width: 80px;
  height: 80px;
}
.vetor {
  display: none;
}

@media screen and (max-width: 600px) {
  .vetor {
    display: block;
    width: 13px;
    height: 44px;
    margin-left: auto;
  }
}
