
<div class="background">
  <div class="container col-lg-4 col-md-6 pt-5 pb-0 mt-1 d-flex text-start d-lg-none justify-content-start">
    <div>
      <a [routerLink]="['/home']"><img id="seta-dark" src="../../assets/conta/seta-dark.svg" alt=""></a>
      <a [routerLink]="['/home']"><img id="seta-light" src="../../../assets/conta/seta-light.svg" alt=""></a>
    </div>
  </div>
  <div class="container col-lg-4 col-md-6">

    
    <form class="border border-secondary rounded border-opacity-50 p-5 shadow-sm" [formGroup]="pinForm" (ngSubmit)="onSubmit()">
      <div>
        <h2 class="mb-3">Cadastre os seguintes dados:</h2>
      </div>
      <div class="form-group mb-1">
        <label for="pin">PIN (4 dígitos):</label>
        <input type="password" 
        id="pin" 
        name="pin" 
        placeholder="0000" 
        mask="0000"
        formControlName="pin"/>
        <span *ngIf="pinForm.get('pin')?.invalid && pinForm.get('pin')?.touched"
        class="text-danger d-inline invalid-feedback">
            <p *ngIf="pinForm.get('pin')?.errors?.['minlength']">Por favor, digite um PIN com 4 números.</p>
            <p *ngIf="pinForm.get('pin')?.errors?.['pattern']">Somente números são aceitos.</p>
        </span>
      </div>
      <div class="form-group">
        <label for="pin-confirm">Confirmar PIN:</label>
        <input type="password" 
        id="pin-confirm" 
        name="pin-confirm" 
        placeholder="0000" 
        mask="0000"
        formControlName="pin-confirm"/>
        <span *ngIf="pinForm.get('pin-confirm')?.invalid && pinForm.get('pin-confirm')?.touched"
        class="text-danger d-inline invalid-feedback">
            <p *ngIf="pinForm.get('pin')?.value != pinForm.get('pin-confirm')?.value">Por favor, digite o mesmo PIN.</p>
        </span>
      </div>
      <div class="form-group">
        <button type="submit" class="btn-reset login-button">Cadastrar Conta</button>
      </div>

      <div class="icon-container">
        <a id="support-icon">
          <i class="fa fa-comments" aria-hidden="true"></i>
        </a>
        <div id="support-menu" class="support-menu"></div>
      </div>
    </form>
</div>