<div class="background">
  <div class="container col-lg-4 col-md-6">

    <form class="border border-secondary rounded border-opacity-50 p-5">
      <div>
        <h2 class="mb-3">Cadastre os seguintes dados:</h2>
      </div>
      <div class="form-group">
        <label for="pix geral">PIN (4 dígitos):</label>
        <input type="password" 
        id="pin" 
        name="pin" 
        placeholder="****" />
      </div>
      <div class="form-group">
        <label for="pix-geral">Insira o valor de pix geral:</label>
        <input
        class="form-control"
          type="number"
          id="pix-geral"
          name="pix-geral"
          placeholder="Valor de pix geral"
        />
      </div>
      <div class="form-group">
        <label for="pix noturno">Insira o valor de pix noturno:</label>
        <input
          class="form-control"
          type="number"
          id="pix-noturno"
          name="pix noturno"
          placeholder="Valor de pix noturno"
        />
      </div>

      <div class="form-group">
        <div class="btn-reset login-button"></div>
        <a class="login-link" [routerLink]="['/criar-conta']"
          >Cadastrar Conta</a
        >
      </div>

      <div class="icon-container">
        <a id="support-icon">
          <i class="fa fa-comments" aria-hidden="true"></i>
        </a>
        <div id="support-menu" class="support-menu"></div>
      </div>
    </form>
</div>