<a href="#" id="botao-esquerda">
  <img
    src="../../assets/pin-pad/ArrowLeftCircleFill.svg"
    alt="Imagem Esquerda"
    class="imagem"
  />
</a>

<div class="titulo">
  <div class="imagem-container">
    <img
      src="../../assets/pin-pad/Rectangle 16.svg "
      alt="imagem do icone"
      class="imagem-icone"
    />
  </div>
  <div class="texto-container">
    <h1>DIGITE SUA</h1>
    <h2>SENHA PIN</h2>
  </div>
</div>

<div class="imagem-container">
  <img
    src="../../assets/pin-pad/Line 4.svg "
    alt="imagem da linha"
    class="imagem-linha"
  />

  <img
    src="../../assets/pin-pad/Line 4.svg "
    alt="imagem da linha"
    class="imagem-linha"
  />

  <img
    src="../../assets/pin-pad/Line 4.svg "
    alt="imagem da linha"
    class="imagem-linha"
  />

  <img
    src="../../assets/pin-pad/Line 4.svg "
    alt="imagem da linha"
    class="imagem-linha"
  />
</div>

<div class="container-button">
  <div class="button-row">
    <button class="pin-button">1</button>
    <button class="pin-button">2</button>
    <button class="pin-button">3</button>
  </div>
  <div class="button-row">
    <button class="pin-button">4</button>
    <button class="pin-button">5</button>
    <button class="pin-button">6</button>
  </div>
  <div class="button-row">
    <button class="pin-button">7</button>
    <button class="pin-button">8</button>
    <button class="pin-button">9</button>
  </div>
  <div class="button-row">
    <button class="pin-button x-button">X</button>
    <button class="pin-button zero-button">0</button>
  </div>
</div>

<a href="#">
  <button type="submit">CONFIRMAR</button>
</a>
