@media (prefers-color-scheme: dark) {
  * {
    background-color: #000 !important;
    color: #fff !important;
  }
}

@media (prefers-color-scheme: light) {
  * {
    background-color: #e5e5e5 !important;
    color: #000 !important;
  }
}
