
<div class="container">
    <div class="cartao">
        <div class="card-inner">
            <div class="front">
                <img src="../../../assets/card/map.png" class="mapa-img" alt="">
                <div class="row">
                    <img class="chip" src="../../../assets/card/chip.png" alt="" >
                    <img class="visa" src="../../../assets/card/visa.png" alt="">
                </div>
                <div class="num-cartao">
                    <p>1321</p>
                    <p>1234</p>
                    <p>1234</p>
                    <p>1234</p>
                </div>
                <div class="info-cartao">
                    <p>NOME DONO CARTÃO</p>
                </div>
                <div class="nome">
                    <p></p>
                </div>
            </div>

            <div class="back">
                <img src="../../../assets/card/map.png" class="mapa-img" alt="">
                <div class="barra"></div>
                <div class="cartao-cvv">
                    <div>
                        <img src="../../../assets/card/pattern.png" alt="">
                    </div>
                    <p>123</p>
                </div>
                <div class="texto-cartao">
                    <p>Cartão virtual provido por PayWise</p>
                </div>
                <div class="assinatura">
                    <p>ASSINATURA DO CLIENTE</p>
                    <img src="../../../assets/logotypes-login-cadastro/imglogo.svg" alt="">
                    <img class="visa" src="../../../assets/card/visa.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>