<link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet" />

<div class="icons-home">
  <div class="icons-sub">
    <div class="icons-sub-img">
      <img
        src="../../assets/"
        width="110" height="110"
        alt="Ícone de nota trocando de mão para referenciar a opção de pagamento"
      />
      <p class="icons-sub-text">Pagar</p>
    </div>
  </div>

  <div class="icons-sub">
    <div class="icons-sub-img">
      <img
        src="assets/icons-home/img/icon-receber.svg"
        width="110" height="110"
        alt="Ícone de celular, nota e moedas para referenciar a opção para recebimento"
      />
      <p class="icons-sub-text">Receber</p>
    </div>
  </div>

  <div class="icons-sub">
    <div class="icons-sub-img">
      <img
        src="assets/icons-home/img/icon-pix.svg" width="110" height="110"
        alt="Ícone de QR code para referenciar a opção para pagamento via pix"
      />
      <p class="icons-sub-text">Pix</p>
    </div>
  </div>

  <div class="icons-sub">
    <div class="icons-sub-img">
      <img
        src="assets/icons-home/img/icon-poupanca.svg" width="110" height="110"
        alt="Ícone de celular e moedas para referenciar a opção para poupança"
      />
      <p class="icons-sub-text">Poupança</p>
    </div>
  </div>

  <div class="icons-sub">
    <div class="icons-sub-img">
      <img
        src="assets/icons-home/img/icon-cartoes.svg" width="110" height="110"
        alt="Ícone de celular e cartão de banco para referenciar a opção para cartões"
      />
      <p class="icons-sub-text">Cartões</p>
    </div>
  </div>

  <div class="icons-sub">
    <div class="icons-sub-img">
      <img
        src="assets/icons-home/img/icon-investimentos.svg" width="110" height="110"
        alt="Ícone de computador com gráfico ascendente com símbolo de cifrão para referenciar a opção para investimentos"
      />
      <p class="icons-sub-text">Investimentos</p>
    </div>
  </div>
</div>
