<div *ngIf="showAlert" class="alerta position-fixed text-center">
  Login realizado! Redirecionando...
</div>
<div class="background pb-5">
  <div class="container pb-5">
    <img src="../../assets/logotypes-login-cadastro/logopronta.svg" alt="Logo do Banco" class="logo">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="container col-md-6 col-lg-4">
      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" placeholder="Digite seu CPF"
        mask="000.000.000-00"
        formControlName="cpf"
        [ngClass]="{ 'border border-danger is-invalid': loginForm.get('cpf')?.invalid && loginForm.get('cpf')?.touched}">
          <span *ngIf="loginForm.get('cpf')?.invalid && loginForm.get('cpf')?.touched" class="text-danger d-inline invalid-feedback text-start">
                          <p *ngIf="loginForm.get('cpf')?.errors?.['required'] || loginForm.get('cpf')?.errors">Por favor, digite o CPF cadastrado.</p>
                          <p *ngIf="loginForm.get('cpf')?.errors?.['pattern']">Somente números são aceitos.</p>
            </span>
      </div>
      <div class="form-group">
      <label for="senha">Senha:
        <div>
        <!-- > -->
          <button type="button" (click)="senhaVisibilidade()" class="exibirSenha">
            <img class="darkOrLightMode"
              [src]="isdarkMode ? (senhaVisivel ? 'assets/logotypes-login-cadastro/eye-solid-dark-mode.png' : 'assets/logotypes-login-cadastro/eye-slash-solid-dark-mode.png') : (senhaVisivel ? 'assets/logotypes-login-cadastro/eye-solid-light-mode.svg' : 'assets/logotypes-login-cadastro/eye-slash-solid-light-mode.svg')"
              alt="">
          </button>
        </div>
        </label>
        <input type="{{ senhaVisivel ? 'text' : 'password' }}"
        id="senha" 
        name="senha" 
        placeholder="Digite sua senha"
        formControlName="senha"        
        [ngClass]="{ 'border border-danger is-invalid': loginForm.get('senha')?.invalid && loginForm.get('senha')?.touched}">
          <span *ngIf="loginForm.get('senha')?.invalid && loginForm.get('senha')?.touched"
          class="text-danger d-inline invalid-feedback text-start">
              <p *ngIf="loginForm.get('senha')?.errors?.['required']">Por favor, digite a senha cadastrada.</p>
          </span>
      </div>     

      <div class="form-group links-container link-estilo">
        <a class="link-estilo" [routerLink]="['/esquecer-senha']">Esqueci minha senha</a>
      </div>
      
      <div class="form-group">
        <input type="submit"
        class="btn-reset login-button" 
        value="Login"> 
        <div class="icon-container">
          <a id="support-icon">
            <i class="fa fa-comments" aria-hidden="true"></i>
          </a>
          <div id="support-menu" class="support-menu">
          </div>
        </div>
      </div>
    </form>
    <div class="mensagem-erro d-none mb-3 text-danger">

    </div>
    <div><a class="link-registro" [routerLink]="['/cadastro']">Ainda não tem uma conta? <span class="link-estilo">Registre-se</span></a></div>
  </div>
</div>