/* Estilos padrão */
.container {
  text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
}

input:-webkit-autofill {
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

.alerta {
  position: fixed;
  top: 7%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: rgb(15, 158, 15);
  padding: 10px;
  padding-top: 25px;
  border-radius: 5px;
  border-top: 20px solid rgb(15, 158, 15);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.link-sair {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.links-container {
  text-align: left;
}

.link-estilo {
  color: #a484e8;
  font-weight: bold;
  text-decoration: none;
}

.link-registro {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.login-link {
  color: #fff;
  text-decoration: none;
}

.login-button {
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  background-color: #7f53df;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.icon-container a {
  display: inline-block;
}

.icon-container i {
  font-size: 40px;
  color: #7f53df;
  cursor: pointer;
}

.background {
  background-image: url("../../assets/logotypes-login-cadastro/desktop-light.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -100px;
}

.exibirSenha {
  border: none;
  background: none;
  top: 40px;
  position: absolute;
  right: 10px;
}

.darkOrLightMode {
  height: 15px;
  width: auto;
}

/* Estilos para telas menores */
@media only screen and (max-width: 480px) {
  .link-sair {
    margin-right: 10px;
  }

  .background {
    background-image: url("../../assets/logotypes-login-cadastro/mobile-light.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -60px;
  }
  .icon-container {
    bottom: 20px; /* Alterado para ficar abaixo do botão de login */
    right: 20px;
  }

  .icon-container i {
    font-size: 30px;
  }
}

/* Estilos para telas médias */
@media only screen and (max-width: 560px) {
  .icon-container {
    right: 30px;
  }

  .background {
    background-image: url("../../assets/logotypes-login-cadastro/mobile-light.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-position-y: -100px;
  }
}

@media only screen and (min-width: 567px) {
  .icon-container {
    right: 50px;
  }
  .background {
    background-image: url("../../assets/logotypes-login-cadastro/mobile-light.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #141414;
    color: #fff;
  }

  .form-group input {
    background-color: #353535;
    border: 1px solid #000;
    color: #fff;
  }

  .form-group input::placeholder {
    color: #868686;
  }

  .form-group input:focus {
    transition-duration: 300ms;
    outline: 1px solid #a484e8;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px #383737 inset !important;
  }

  .background {
    background-image: url("../../assets/logotypes-login-cadastro/mobile-dark.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-color: #141414;
  }

  .link-estilo:hover,
  .link-registro:hover {
    color: #7f53df;
    transition-duration: 300ms;
  }

  .form-group input:focus {
    transition-duration: 300ms;
    outline: 1px solid #a484e8;
  }

  .login-button:hover {
    color: #cbbceb;
    transition-duration: 300ms;
  }

  .exibirSenha {
    border: none;
    background: none;
    align-items: end;
  }

  .darkOrLightMode {
    height: 15px;
    width: auto;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #e5e5e5;
    color: #000000;
  }

  .form-group input {
    color: #000;
  }

  .link-estilo {
    color: #3c1b83;
  }

  .link-registro {
    font-weight: bold;
    text-decoration: none;
    color: #3c1b83;
  }

  .link-estilo:hover,
  .link-registro:hover {
    color: #7f53df;
    transition-duration: 300ms;
  }

  .form-group input:focus {
    transition-duration: 300ms;
    outline: 1px solid #a484e8;
  }

  .login-button:hover {
    color: #cbbceb;
    transition-duration: 300ms;
  }

  .background {
    background-image: url("../../assets/logotypes-login-cadastro/desktop-light.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-color: #e5e5e5;
  }

  .exibirSenha {
    border: none;
    background: none;
    padding: 0;
  }

  .darkOrLightMode {
    height: 15px;
    width: auto;
  }
}

@media screen and (min-width: 768px) and (prefers-color-scheme: dark) {
  .background {
    background-image: url("../../assets/logotypes-login-cadastro/desktop-dark.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -400px;
    background-color: #141414;
  }
}

@media screen and (min-width: 768px) and (prefers-color-scheme: light) {
  .background {
    background-position-y: -400px;
  }
}

@media screen and (max-width: 668px) and (prefers-color-scheme: light) {
  .background {
    background-image: url("../../assets/logotypes-login-cadastro/mobile-light.svg");
    background-position-y: -150px;
  }
}
