<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seu Título Aqui</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div class="header">
  <img src="/frontend/src/assets/logotypes-login-cadastro/logopronta.svg" alt="Logo do Banco" class="logoheader">
  <a href="#" class="link-sair">Sair</a>
</div>

<div class="background">
  <div class="container">
    <img src="/frontend/src/assets/logotypes-login-cadastro/logopronta.svg" alt="Logo do Banco" class="logo">
    <form>
      <div class="form-group">
        <label for="conta">Conta:</label>
        <input type="text" id="conta" name="conta" placeholder="Digite sua conta">
      </div>
      <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" placeholder="Digite sua senha">
      </div>
      <div class="form-group links-container">
        <a href="#">Esqueci minha senha</a>
        <hr>
        <a href="#">Ainda não tem uma conta?</a>
      </div>
      
      <div class="form-group">
        <button type="submit">Login</button>
        <div class="icon-container">
          <a id="support-icon">
            <i class="fa fa-comments" aria-hidden="true"></i>
          </a>
          <div id="support-menu" class="support-menu">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="../assets/js/s"></script>

</body>
</html>
