body,
html {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #f0f0f0;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #111 !important;
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

.mb-5 {
  margin-bottom: 1.5rem !important;
}

a {
  color: #ce2222;
  text-decoration: none;
}

#seta-light {
  display: block;
}
#seta-dark {
  display: none;
}

.alerta {
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: rgb(15, 158, 15);
  padding: 10px;
  border-radius: 5px;
  border-top: 20px solid rgb(15, 158, 15);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.header {
  background-color: #b3b3b3;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #7f53df;
}

.head-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-logo {
  width: 100px;
  align-items: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

h4 {
  font-size: 22px;
  margin-bottom: 20px;
  padding: 16px 0;
  color:#84E8CB !important;
}

.senha-error p {
  margin: 0px;
  padding: 0px;
}
.login {
  margin-top: 50px;
  margin-bottom: 0px;
}

.container {
  width: 75%;
  padding: 0 16px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group > label {
  display: flex;
  justify-content: start;
}
.form-control {
  border: 1px solid #7f53df; /* Adiciona uma borda de 1px sólida com cor cinza */
  border-radius: 10px; /* Adiciona um leve arredondamento às bordas */
}

.form-control-file {
  color: #111;
}

.btn-purple {
  width: 33%;
  background-color: #7f53df;
  color: #FFF;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 20px;
}

.btn-purple-submit {
  color: #FFF;
  padding: 6px 20px;
  background-color: #7f53df;
  border-radius: 20px;
}

.btn-purple:hover {
  background-color: #6630d9;
  color: #7f53df;
  transform: scale(1.05);
  transition-duration: 300ms;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .header img {
    margin-bottom: 10px;
  }

  body {
    background-image: url("../../assets/logotypes-login-cadastro/mobile-light.svg");
    background-size: cover;
    background-position: center; /* Para centralizar a imagem de fundo */
    background-repeat: no-repeat;
    background-position-y: -400px;
  }

  .form-group {
    margin: 8px 0;
  }

  h2,
  h4 {
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
  }

  #seta-light {
    display: none;
  }
  #seta-dark {
    display: block;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px #383737 inset !important;
  }

  label {
    color: #C4AFF0;
  }

  .indigo,
  h2 {
    color: #7f53df;
    text-decoration-color: #737373;
  }

  a {
    color: #fff;
  }

  input,
  select {
    min-width: 50px;
    background-color: #383737;
    color: #fff;
  }

  input::placeholder {
    color: #929292;
  }
  input:focus {
    background-color: #383737;
    color: #fff;
  }
}
