<div class="transacao-pix">
  <div class="pt-5 pb-5 m-5 ps-5 d-flex text-start justify-content-start">
    <div>
      <a [routerLink]="['/home']"><img id="seta-dark" src="../../assets/conta-criada/seta-dark.svg" alt=""></a>
      <a [routerLink]="['/home']"><img id="seta-light" src="../../../assets/conta-criada/seta-light.svg" alt=""></a>
    </div>
  </div>

  <div class="titulo">
    <div class="imagem-container">
      <img src="../../assets/pix/Rectangle 16.svg " alt="imagem do icone" class="imagem-icone" />
    </div>
    <div class="texto-container">
      <h1>NOVA</h1>
      <h2>TRANSAÇÃO</h2>
    </div>
  </div>

  <form class="transacao-pix-form" (ngSubmit)="realizarTransacaoPix()">
    <div class="form-group">
      <label for="valor" class="label">Valor:</label>
      <input type="number" id="valor" name="valor" [(ngModel)]="valor" required />
    </div>

    <div class="form-group">
      <label for="chavePix" class="label">Chave PIX:</label>
      <input type="text" id="chavePix" name="chavePix" [(ngModel)]="chavePix" required />
    </div>

    <div class="form-group">
      <label for="descricao" class="label">Descrição:</label>
      <textarea id="descricao" name="descricao" [(ngModel)]="descricao"></textarea>
    </div>

    <a href="#">
      <button type="submit">ENVIAR VALOR</button>
    </a>

    <div>
      <img src="../../assets/pix/Line 1.svg" alt=" Imagem de uma linha" class="linha" />
    </div>
  </form>
</div>
