.imagens-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 30px;
}

.imagem-direita {
  margin-right: 30px;
}

.imagem-esquerda {
  margin-left: 30px;
  margin-top: 2px;
}

.transacao-pix {
  text-align: center;
}

.titulo {
  margin-top: 50px;
  margin-left: 40px;
  margin-bottom: 30px;
  display: flex; /* Permite a exibição em linha dos elementos */
  align-items: center; /* Alinha verticalmente os elementos */
}

.imagem-container {
  margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.imagem-icone {
  width: 50px; /* Tamanho da imagem, ajuste conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
}

h1 {
  margin-bottom: 10px;
  color: #c4aff0;
  margin-left: -80px;
}

h2 {
  color: #64ced9;
  margin-bottom: 10px;
}

.transacao-pix-form {
  width: 100%;
  text-align: center; /* Centraliza os elementos */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin-right: 50%; /* Alinha os rótulos ao canto esquerdo */
  padding: 5px;
}

input,
textarea {
  background-color: #262626;
  color: #fff;
  border: none;
}

input,
textarea,
button {
  width: calc(
    100% - 20px
  ); /* Calcula o tamanho considerando a margem interna */
  margin: 0 auto; /* Centraliza os elementos */
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  outline: none;
}

textarea {
  height: 80px; /* Ajuste conforme necessário */
}

button {
  background-color: #7f53df;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 50%;
}

.linha {
  margin-top: 50px;
}

button:hover {
  opacity: 0.8; /*Opacidade aplicada de 0.8*/
}

button:active {
  opacity: 0.6; /*Opacidade aplicada de 0.6*/
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .imagem-direita {
    margin-right: 30px;
  }

  .imagem-esquerda {
    margin-left: 30px;
  }

  .titulo {
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .imagem-container {
    margin-right: 10px;
  }

  .imagem-icone {
    width: 40px;
  }

  h1,
  h2 {
    margin-bottom: 5px;
  }

  label {
    display: block;
    text-align: left;
    margin-left: 12%;
    padding: 5px;
  }

  input,
  textarea {
    width: calc(
      80% - 20px
    ); /* Calcula o tamanho considerando a margem interna */
    margin-bottom: 10px; /* Reduz a margem inferior */
    padding: 8px; /* Reduz o preenchimento */
  }
  button {
    width: 50%;
  }

  textarea {
    height: 50px; /* Reduz a altura do textarea */
  }

  label {
    margin-right: 0; /* Remove a margem direita para alinhar à esquerda */
  }

  /* Seu CSS existente aqui */

  .dark-mode {
    background-color: #262626; /* Cor de fundo do modo escuro */
  }

  .custom-color-mode {
    background-color: #2e2e2e; /* Nova cor de fundo para o modo personalizado */
  }
}
