<div class="pt-5 pb-5 m-5 ps-5 d-flex text-start justify-content-start">
  <div>
    <a [routerLink]="['/home']"><img id="seta-dark" src="../../assets/conta-criada/seta-dark.svg" alt=""></a>
    <a [routerLink]="['/home']"><img id="seta-light" src="../../../assets/conta-criada/seta-light.svg" alt=""></a>
  </div>
</div>
  <div class="titulosaque">
    <div class="imagem-container">
      <img src="../../assets/pix/Rectangle 16.svg " alt="imagem do icone" class="imagem-icone" />
    </div>
    <div class="texto-container">
      <h1>ORDEM DE</h1>
      <h2>SAQUE</h2>
    </div>
  </div>

  <form class="transacao-pix-form" (ngSubmit)="ordenarSaque()" [formGroup]="saqueForm">
    <div class="form-group">
      <label for="valor" class="label">Valor:</label>
      <input type="tel" id="valor" name="valor" placeholder="Digite o valor que deseja sacar de sua conta." formControlName="valor"
       currencyMask 
       [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left', allowNegative: false, max: 50000, min: 0.01 }" />
    </div>
    <!-- <div class="form-group">
      <label for="chave-pix" class="label">Chave PIX Destino:</label>
      <input type="text" id="chave-pix" name="chave-pix" placeholder="Sua Chave Pix Aqui!"/>
    </div> -->
    <div class="form-group">
      <label for="pin" class="label">Confirmar PIN:</label>
      <input type="password" id="pin" name="pin" placeholder="0000" mask="0000" formControlName="pin"  />
    </div>

    <div class="form-group">
      <label for="descricao" class="label">Descrição:</label>
      <textarea id="descricao" name="descricao" placeholder="Escreva alguma descrição sobre o saque." formControlName="descricao"></textarea>
    </div>
    

    <a href="#">
      <button type="submit">SACAR VALOR</button>
    </a>

  </form>

