.imagens-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 30px;
}

.imagem-direita {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin-right: 40px;
}

.imagem-esquerda {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin-left: 40px;
}

.transacao-pix {
  text-align: center;
}

.titulo {
  margin-top: 50px;
  margin-left: 43%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.imagem-container {
  margin-right: 20px;
}

.imagem-icone {
  width: 50px;
  height: auto;
}

h1 {
  margin-bottom: 10px;
  color: #c4aff0;
  margin-left: -80px;
}

h2 {
  color: #64ced9;
  margin-bottom: 10px;
}

.transacao-pix-form {
  width: 100%;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin-left: 26%;
  padding: 5px;
}

input,
textarea,
select {
  background-color: #262626;
  color: #fff;
  border: none;
}

input,
textarea,
button,
select {
  width: calc(50% - 30px);
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  outline: none;
}

textarea {
  height: 80px;
}

button {
  background-color: #7f53df;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 20%;
}

.linha {
  margin-top: 50px;
}

button:hover {
  opacity: 0.8;
}
.imagem-esquerda a:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.6;
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .imagem-direita {
    margin-right: 30px;
    transition: all 0.3s ease;
  }

  .imagem-esquerda {
    margin-left: 30px;
    transition: all 0.3s ease;
  }

  .titulo {
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .imagem-container {
    margin-right: 10px;
  }

  .imagem-icone {
    width: 40px;
  }

  h1,
  h2 {
    margin-bottom: 5px;
  }

  label {
    display: block;
    text-align: left;
    margin-left: 12%;
    padding: 5px;
  }

  input,
  textarea,
  select {
    width: calc(80% - 20px);
    margin-bottom: 10px;
    padding: 8px;
  }
  button {
    width: 50%;
  }

  textarea {
    height: 50px;
  }

  label {
    margin-right: 0;
  }
}
