:root{
    --white: #FFFFFF;
    --gray200: #E5E5E5;
    --gray500: #737373;
    --gray700: #525252;
    --gray600: #262626;
    --gray800: #111111;
    --backgroundcolor:#e6e6e6;
    
    --purple300: #C4AFF0;
    --purple400: #A484E8;
    --purple500: #A48AE8;
    --purple700: #7F53DF;
    --purple800: #6630D9;

    --red300: #E8848A;
    --green300: #84E8CB;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--backgroudcolor);
    margin-top: 15px;
}

/* LADO ESQUERDO A TELA - RESUMOS E INFORMAÇÕES */


/*  TEMA DARK */

@media (prefers-color-scheme: dark){
    .container{
        background-color: var(--gray800);
    }
    .gastosResumo,
    .ganhosResumo {
    color:var(--gray800);
    }
    .filtro {
        --white: var(--gray600);
    }
    .icone {
        background-color: var(--purple500);
    }
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    margin: auto;
    align-content: center;
    grid-template-areas:
    "gastos gastos gastos"
    "filtro filtro filtro";
}

@media screen and (max-width: 981px), (max-height: 710px){
    .info{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.gastosEganhos{
    grid-area: gastos;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
}

.gastos,
.ganhos {
    display: flex;
    margin: 15px;
    justify-content: space-between;
}

.gastosResumo > span,
.ganhosResumo > span  {
    font-weight: 500;
}

.gastosResumo > p,
.ganhosResumo > p {
    font-weight: 700;
    margin: 3px;
}



.detalhe {
    content: '';
    width: 108px;
    height: 24px;
    border-radius: 0px 8px 0px 0px;
    background-color: rgba(167, 76, 76, 1);
    margin: 5px;
}
.detalhe1 {
    content: '';
    margin: 5px;
    width: 108px;
    height: 24px;
    background-color: rgba(167, 76, 76, 1);
}


.detalhe2 {
    content: '';
    width: 108px;
    height: 24px;
    border-radius: 0px 8px 0px 0px;
    background-color: rgba(132, 232, 203, 1);
    margin: 5px;
}

.detalhe3 {
    content: '';
    margin: 5px;
    width: 108px;
    height: 24px;
    background-color: rgba(132, 232, 203, 1);
}

.gastos-dir {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 213px;
    max-height: 88px;
    border-radius: 8px;
    background-color: var(--red300);
}

@media (max-width: 375px){
     .gastosEganhos{
        width: 80%;
    }
}

.ganhos-dir {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 213px;
    max-height: 88px;
    border-radius: 8px;
    background-color: var(--green300);
}


.gastos-dir > img,
.ganhos-dir > img {
    max-width: 17.5px;
    max-height: 20px;
}

/* PARTE DE BAIXO LADO ESQUERDO */

.pesquisa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: filtro;
    gap: 15px;
    margin: auto;
}


.filtro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    width: 121px;
    height: 50px;
    background-color: var(--white);
    border-radius: 8px;
}

.filtro:hover{
    box-shadow: 2px 1.3px 5px 1px var(--gray600)
}


.filtro > p {
    display: flex;
    justify-content: center;
    color: var(--purple700);
}

.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: 80%;
    border-radius: 10px;
}



@media screen and (max-width: 435px), (max-height: 710px) {
    .icone {
         display: none;
    }
}

@media screen and (max-width: 430px){
    .filtro {
        display: flex;
        justify-content: center;
        max-width: 98px;
        max-height: 43px;
        margin: 5px auto;
    }
}

@media screen and (max-width: 300px){
    .pesquisa {
        max-width: 250px;
    }


    .filtro {
    max-width: 88px;
    max-height: 30px;
    }
}

.button {
    max-width: 200px;
    max-height: 35px;
    border-radius: 5px;
    border: none;
    background: var(--purple400);
    transition: 0.5s;
}

.button:hover{
    background: var(--purple700);
    color: var(--red300);
    box-shadow: 2px 1.3px 5px 1px var(--gray500);
}


/* LADO DIREITO DA TELA - HISTÓRICO DE TRANSAÇÕES */


.historico {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
}


.resumo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.valor {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "info icon"
    "info icon";
    gap: 10px;
    justify-items: end;
    align-items: end;
    font-size: 11px;
}

.transationcard {
    display: flex;
    margin: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    background-color: var(--white);
    color: var(--gray700);
    transition: 0.3s;
}

@media (prefers-color-scheme: dark) {
    .transationcard {
        --white: #262626;
    }
    .textoCard,
    .infoCardDir,
    .iconeDir  {
        color: var(--gray200);
    }
    .data > p {
        color: var(--white)
    }
}


.transationcard:hover {
    box-shadow: 2px 1px 4px 1px var(--gray700);
}

.resumoDir {
    display: flex;
    align-items: center;
    gap: 15px;
}
.cardItens {
    display: grid;
    grid-template-columns: 99% 1fr;
    justify-content: space-between;
    width: 366px;
    height: 82px;
}

@media screen and (max-width: 375px) {
    .cardItens {
        max-width: 300px;
        max-height: 70px;
    }
}

.data {
    color: var(--gray700);
    margin-top: 25px;
    padding-left: 10px;
    font-weight: 600;
    font-size: clamp(0.9rem, 2vh, 1.5rem);
}

.textoCard {
    font-size: clamp(0.75rem, 2vw, 1rem);
    margin-top: 15px;
}


.infoCardDir {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;
}


.iconeDir {
    grid-area: icon;
    width: 30px;
    height: 30px;
}


#img{
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgba(196, 175, 240, 1);
}

#img > img {
    display: flex;
    width: 30px;
    height: 30px;
}


