<!-- HEADER -->



<div class="container">

    <app-transacao (cadastrarTransacao)="realizarTrasacao($event)"></app-transacao>

    <!-- LADO ESQUERDO DA PAGINA, COMENTADO PARA EU FOCAR NO HISTÓRICO -->

    <!-- <div class="info">
            <div class="gastos">
                <div class="gastos-esq">
                    <div class="detalhe"></div>
                    <div class="detalhe1"></div>
                    <div class="detalhe1"></div>
                </div>

                <div class="gastos-dir">
                    <p>icon</p>
                    <h4>Gastos</h4>
                    <p>R$4.000,00</p>
                </div>   
            </div>

            <div class="ganhos">
                <div class="ganhos-esq">
                    <div class="detalhe2"></div>
                    <div class="detalhe3"></div>
                    <div class="detalhe3"></div>
                </div>
                
                <div class="ganhos-dir">
                    <p>icone</p>
                    <h4>Ganhos</h4>
                    <p>R$7.500,00</p>
                </div>   
            </div>

            <div class="resumoEicones">
                <p> Mês </p>
                <p> Dezembro </p>
                <p> Categoria </p>
            </div>
            <div class="icone">
                <p> icone grande
                </p>
            </div>
    </div> -->
    
    <!-- LADO DIREITO DA PAGINA - HISTÓRICO DE TRANSAÇÕES -->

    <div class="historico">
        <h1>Histórico de Transações</h1>
        <div class="algo">
            <h3>Últimas transações:</h3>

            <!-- TABELA COM O HISTÓRICO DE TRANSAÇÕES -->
            <!-- <table>
                <thead>
                    <tr>
                        <th> Tipo de Transação </th>
                        <th> Valor da Transação </th>
                        <th> Conta Destino </th>
                        <th> Data </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of transacoes">
                        <td> {{ t.tipo }} </td>
                        <td> {{ t.valor }} </td>
                        <td> {{ t.contaDestino }} </td>
                        <td> {{ t.data }}</td>
                    </tr>
                </tbody>
            </table> -->

            <div>
               
            <!-- CARD HISTÓRICO DE TRANSAÇÕES -->

                <div class="transationcard" *ngFor="let t of transacoes">
                    <div id="img"></div>
                    <h6> {{ t.tipo }} </h6>
                    <p> {{ t.valor }} </p>
                    <div class="valor">
                        <h6>{{ t.data }}</h6>
                        <p>icone tipo</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->