<!-- HEADER -->

<div class="container">
    
        <div class="info">
            <div class="gastos">
                <div class="gastos-esq">
                    <div class="detalhe"></div>
                    <div class="detalhe1"></div>
                    <div class="detalhe1"></div>
                </div>

                <div class="gastos-dir">
                    <p>icone</p>
                    <h4>Gastos</h4>
                    <p>R$4.000,00</p>
                </div>   
            </div>

            <div class="ganhos">
                <div class="ganhos-esq">
                    <div class="detalhe2"></div>
                    <div class="detalhe3"></div>
                    <div class="detalhe3"></div>
                </div>
                
                <div class="ganhos-dir">
                    <p>icone</p>
                    <h4>Ganhos</h4>
                    <p>R$7.500,00</p>
                </div>   
            </div>

            <div class="resumoEicones">
                <p> Mês </p>
                <p> Dezembro </p>
                <p> Categoria </p>
            </div>
            <div class="icone">
                <p> icone grande
                </p>
            </div>
        </div>
    
    <div class="historico">
        <div class="algo">
            <div>
                <h1>Histórico de Transações</h1>
                <h4>Qua, 31 de jan </h4>

                <div class="transationcard">
                    <div id="img"></div>
                    <h6> Título transação </h6>
                    <p>pequeno detalhe</p>
                    <div class="valor">
                        <h6>resumo financeiro</h6>
                        <p>icone tipo</p>
                    </div>
                </div>

                <div class="transationcard">
                    <div id="img"></div>
                    <h6> Título transação </h6>
                    <p>pequeno detalhe </p>
                    <div class="valor">
                        <h6>resumo financeiro</h6>
                        <p>icone tipo </p>
                    </div>
                </div>

                <h4>Ter, 30 de jan </h4>

                <div class="transationcard">
                    <div id="img"></div>
                    <h6> Título transação </h6>
                    <p>pequeno detalhe</p>
                    <div class="valor">
                        <h6>resumo financeiro</h6>
                        <p>icone tipo</p>
                    </div>
                </div>

                <div class="transationcard">
                    <div id="img"></div>
                    <h6> Título transação </h6>
                    <p>pequeno detalhe</p>
                    <div class="valor">
                        <h6>resumo financeiro</h6>
                        <p>icone tipo</p>
                    </div>
                </div>
                <h4>Seg, 29 de jan </h4>

                <div class="transationcard">
                    <div id="img"></div>
                    <h6> Título transação </h6>
                    <p>pequeno detalhe</p>
                    <div class="valor">
                        <h6>resumo financeiro</h6>
                        <p>icone tipo</p>
                    </div>
                </div>

                <div class="transationcard">
                    <div id="img"></div>
                    <h6> Título transação </h6>
                    <p>pequeno detalhe</p>
                    <div class="valor">
                        <h6>resumo financeiro</h6>
                        <p>icone tipo</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->