.icons-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Ajusta o espaçamento entre as divs se necessário */
  margin: 0 auto;
  padding: 20px;
  gap: 10px; /* Espaço entre as divs */
}

.icons-sub {
  flex: 0 1 calc(33.333% - 20px); /* Usa 'flex' para ajustar a largura das divs */
  height: 110px; /* Altura fixa para as divs */
  width: 120px;
  margin: 50px 0; /* Margem vertical para não afetar o cálculo de largura */
  background-color: #84e8cb;
  border-radius: 8px;
  text-align: center;
}

.icons-sub-img img {
  width: 75px; /* Ajuste conforme necessário */
}

.icons-sub-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #525252;
  text-align: center;
  margin: 2px;
  margin-bottom: 20px; /* Ajuste para o espaçamento do texto dentro da div */
}

.translate {
  transform: translateX(-10px);
}

/* Ajustes de tema baseados na preferência do usuário */
@media (prefers-color-scheme: dark) {
  .icons-sub-text {
    color: #f5f5f5;
  }
}

@media (prefers-color-scheme: light) {
  .icons-sub-text {
    color: #525252;
  }
}
