<div [ngClass]="{ 'user-card': !isUserAccount, 'user-account': isUserAccount }">
  <div class="options-home">
    <div class="div-options-botao text-center col-lg-8 pt-5">
      <a *ngIf="!isUserAccount" [routerLink]="['/conta/criar-conta']">
        <button class="btn-conta link-estilo">Criar Conta</button>
      </a>
      <a *ngIf="isUserAccount" class="link-estilo" [routerLink]="['/conta/criada']">
        <button class="btn-conta link-estilo">Acessar Conta</button>
      </a>
    </div>
  </div>

  <div class="icons-home col-md-12 d-flex mt-2 justify-content-xl-start">
    <div class="row">
        <div class="icons-sub icons-user-card col-md-4 mx-2 md-mx-0 shadow-sm" *ngIf="isUserAccount">
          <a class="btn" [routerLink]="['/cartao']">
          <div class="icons-sub-img">
          <img
            src="../../assets/img_icons/cartoes.svg"
            width="110"
            height="110"
            alt="Ícone de celular e moedas para referenciar a opção para poupança"/>
        </div>
        </a>
        <p class="icons-sub-text">Cartões</p>
      </div>


       <div class="icons-sub icons-user-card col-md-4 mx-2 md-mx-0 shadow-sm" *ngIf="isUserAccount">
          <a class="btn" [routerLink]="['/investimento']">
          <div class="icons-sub-img">
          <img
            src="../../assets/img_icons/investimentos.svg"
            width="110"
            height="110"
            alt="Ícone de computador com gráfico ascendente com símbolo de cifrão para referenciar a opção para investimentos"/>
          </div>
        </a>
        <p class="icons-sub-text">Investimentos</p>
      </div>

      <div class="icons-sub icons-user-card col-md-4 mx-2 md-mx-0 shadow-sm" *ngIf="isUserAccount">
        <a class="btn" [routerLink]="['/deposito']">
        <div class="icons-sub-img">
        <img
          src="../../assets/img_icons/receber.svg"
          width="110"
          height="110"
          alt="Ícone de celular, nota e moedas para referenciar a opção para recebimento"/>
        </div>
      </a>
      <p class="icons-sub-text">Depósito</p>
    </div>
    <div class="icons-sub icons-user-card col-md-4 mx-2 md-mx-0 shadow-sm" *ngIf="isUserAccount">
      <a class="btn" [routerLink]="['/pix']">
      <div class="icons-sub-img">
      <img
        src="../../assets/img_icons/pix.svg"
        width="110"
        height="110"
        alt="Ícone de QR code para referenciar a opção para pagamento via pix"/>
      </div>
    </a>
    <p class="icons-sub-text">Pix</p>
  </div>

  <div class="icons-sub icons-user-card col-md-4 mx-2 md-mx-0 shadow-sm" *ngIf="isUserAccount">
    <a class="btn" [routerLink]="['/transfer']">
    <div class="icons-sub-img">
    <img
      src="../../assets/img_icons/pagar.svg"
      width="110"
      height="110"
      alt="Ícone de nota trocando de mão para referenciar a opção de pagamento"/>    
  </div>
  </a>
  <p class="icons-sub-text">Transferência</p>
</div>

      <div class="icons-sub icons-user-card col-md-4 mx-2 md-mx-0 shadow-sm" *ngIf="isUserAccount">
        <a class="btn" [routerLink]="['/historico']">
        <div class="icons-sub-img">
        <img
          src="../../assets/img_icons/Histórico.svg"
          width="110"
          height="110"
          alt="Ícone de hiistórico de movimentações"/>
      </div>
      </a>
      <p class="icons-sub-text">Histórico</p>
    </div>


    </div>
  </div>
</div>