<div [ngClass]="{ 'user-card': !isUserAccount, 'user-account': isUserAccount }">
  <div class="options-home">
    <div class="div-options-botao text-center col-lg-8 pt-5">
          <a *ngIf="!isUserAccount"
            [routerLink]="['/conta/criar-conta']">
              <button class="btn-conta link-estilo">Criar Conta</button>
          </a>
          <a *ngIf="isUserAccount"
           class="link-estilo" 
           [routerLink]="['/conta/criada']">
            <button class="btn-conta link-estilo">Acessar Conta</button>
          </a>
    </div>
    <div class="icons-home col-md-12 d-flex mt-2 justify-content-xl-start">
      <div class="row">
        <div class="icons-sub col-md-4 mx-2 md-mx-0 shadow-sm"  id="cartoes-img">
          <div class="icons-sub-img">
            <img
              src="../../assets/img_icons/cartoes.svg"
              id="somente-cartao"
              width="110"
              height="110"
              [routerLink]="['/cartao']"
              alt="Ícone de celular e cartão de banco para referenciar a opção para cartões"
            />
          </div>
          <p class="icons-sub-text" id="cartoes">Cartões</p>
        </div>
        <!-- SAQUE -->

        <div class="icons-sub icons-user-card col-md-4 mx-2 md-mx-0 shadow-sm">
          <div *ngIf="!isUserAccount" class="icons-sub-img">
            <img
              src="../../assets/img_icons/poupança.svg"
              width="110"
              height="110"
              alt="Ícone de celular e moedas para referenciar a opção para poupança"
            />
          </div>
          <a *ngIf="isUserAccount"[routerLink]="['/saque']">
            <div class="icons-sub-img">
              <img
                src="../../assets/img_icons/poupança.svg"
                width="110"
                height="110"
                alt="Ícone de celular e moedas para referenciar a opção para poupança"
              />
            </div>
          </a>
          <p class="icons-sub-text">Saque</p>
        </div>

<!-- INVESTIMENTOS -->
          <div class="icons-sub icons-user-card col-md-4 mx-2 md-mx-0 shadow-sm">
            <a *ngIf="isUserAccount" [routerLink]="['/investimento']">
              <div class="icons-sub-img">
                <img
                  src="../../assets/img_icons/investimentos.svg"
                  width="110"
                  height="110"
                  alt="Ícone de computador com gráfico ascendente com símbolo de cifrão para referenciar a opção para investimentos"
                />
              </div>
            </a>
            <div *ngIf="!isUserAccount" class="icons-sub-img">
              <img
                src="../../assets/img_icons/investimentos.svg"
                width="110"
                height="110"
                alt="Ícone de computador com gráfico ascendente com símbolo de cifrão para referenciar a opção para investimentos"
              />
            </div>
            <p class="icons-sub-text translate">Investimentos</p>
          </div>

      </div>
      <!-- PIX -->
      <div class="row">
        <div class="icons-sub icons-user-card col-md-4 mx-2 md-mx-0 shadow-sm">
          <div *ngIf="!isUserAccount" class="icons-sub-img">
            <img
              src="../../assets/img_icons/pix.svg"
              width="110"
              height="110"
              alt="Ícone de QR code para referenciar a opção para pagamento via pix"
            />
          </div>
          <a *ngIf="isUserAccount" [routerLink]="['/pix']">
            <div class="icons-sub-img">
              <img
                src="../../assets/img_icons/pix.svg"
                width="110"
                height="110"
                alt="Ícone de QR code para referenciar a opção para pagamento via pix"
              />
            </div>
          </a>
          <p class="icons-sub-text">Pix</p>
        </div>
        <!-- Transferencia -->
        <div class="icons-sub icons-user-card col-md-4 mx-2 md-mx-0 shadow-sm">
          <div *ngIf="!isUserAccount" class="icons-sub-img">
            <img
              src="../../assets/img_icons/pagar.svg"
              width="110"
              height="110"
              alt="Ícone de nota trocando de mão para referenciar a opção de pagamento"
            />
          </div>
          <a *ngIf="isUserAccount" [routerLink]="['/transfer']">
            <div class="icons-sub-img">
              <img
                src="../../assets/img_icons/pagar.svg"
                width="110"
                height="110"
                alt="Ícone de nota trocando de mão para referenciar a opção de pagamento"
              />
            </div>
          </a>
          <p class="icons-sub-text text-start" id="transferencia">Transferência</p>
        </div>

        <!-- // DEPÓSITO -->
          <div class="icons-sub icons-user-card col-md-4 mx-2 md-mx-0 shadow-sm">
            <div *ngIf="!isUserAccount" class="icons-sub-img">
              <img
                src="../../assets/img_icons/receber.svg"
                width="110"
                height="110"
                alt="Ícone de celular, nota e moedas para referenciar a opção para recebimento"
              />
            </div>
            <a *ngIf="isUserAccount" [routerLink]="['/deposito']">
            <div class="icons-sub-img">
              <img
                src="../../assets/img_icons/receber.svg"
                width="110"
                height="110"
                alt="Ícone de celular, nota e moedas para referenciar a opção para recebimento"
              />
            </div>
          </a>
            <p class="icons-sub-text">Depositar</p>
          </div>

      </div>
    </div>
  </div>
</div>

