<nav id="navbar" class="d-none d-lg-flex">
    <div class="navbar-container" [class.dark-mode]="darkMode">

        <!-- Lodo do header -->
        <a [routerLink]="['/home']"><img id="logo-img" [src]="getImagePath()" alt="logo" class="logo"></a>

        <ul class="navbar-itens d-flex place">
            <li class="navbar-item">
                <ng-template [ngIf]="exibirHistorico">
                    <img [src]="getLupaPath()" alt="logo" class="lupa">

                </ng-template>

                <ng-template [ngIf]="exibirHome">
                    <a [routerLink]="['/historico']" id="historico" class="navbar-button">Histórico de transações</a>
                </ng-template>
            </li>
            <li class="navbar-item">
                <ng-template [ngIf]="exibirHistorico || exibirHome">
                    <a class="sair" [routerLink]="['/login']">Sair</a>
                </ng-template>
            </li>
        </ul>
    </div>
</nav>

<!--Botão Entrar da tela de login
<button (click)="visibilidadeTexto()">Entrar</button> -->