* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#navbar {
  display: flex;
  background-color: #252121;
  font-weight: bold;
  justify-content: center;
  height: 50px;
}

#navbar .navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #bb44f3;
}

#navbar .navbar-container .logo {
  height: 80px;
  width: auto;
  padding-top: 2px;
  padding-left: 4px;
}

#navbar .navbar-container ul {
  display: flex;
  list-style: none;
}

#navbar .navbar-container ul li {
  padding: 0 20px;
}

#navbar .navbar-container ul li .navbar-button {
  font-family: "Inter", sans-serif;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 12pt;
}

#navbar .navbar-container ul li .lupa {
  height: 16px;
  justify-content: space-between;
  padding: 0 20px;
}

@media (prefers-color-scheme: dark) {
  .navbar-container .dark-mode {
    height: 80px;
    width: auto;
    padding-top: 2px;
    padding-left: 4px;
  }

  #navbar {
    background-color: #525252;
  }

  #navbar .navbar-container ul li .navbar-button {
    background-color: #525252;
    color: white;
  }

  #navbar {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  #navbar {
    background-color: #d2d2d2;
  }

  #navbar .navbar-container ul li .navbar-button {
    background-color: #d2d2d2;
    color: #181818;
  }

  #navbar {
    color: #181818;
  }
}
