/* HEADER ALEXANDRE */

/* * {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#logo-img:hover {
  transform: scale(1.1);
}

.historico a:hover {
  color: #7f53df;
  transition-duration: 400ms;
}

.navbar-button {
  font-family: "Inter", sans-serif;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 12pt;
}

.navbar-button:hover {
  color: #7f53df;
  transition-duration: 400ms;
}

.sair {
  font-weight: 600;
  display: block;
  padding-top: 1px;
}

.sair:hover {
  color: #7f53df;
  transition-duration: 400ms;
}

#navbar {
  display: flex;
  background-color: #252121;
  font-weight: bold;
  justify-content: center;
  width: 100%;
  height: 50px;
}

#navbar .navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #bb44f3;
}

#navbar .navbar-container .logo {
  height: 80px;
  width: auto;
  padding-top: 2px;
  padding-left: 4px;
}

#navbar .navbar-container ul {
  display: flex;
  list-style: none;
}

#navbar .navbar-container ul li {
  padding: 0 20px;
}

#navbar .navbar-container ul li .navbar-button {
  font-family: "Inter", sans-serif;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 12pt;
}

#navbar .navbar-container ul li .lupa {
  height: 16px;
  justify-content: space-between;
  padding: 0 20px;
}

@media (prefers-color-scheme: dark) {
  .navbar-container .dark-mode {
    height: 80px;
    width: auto;
    padding-top: 2px;
    padding-left: 4px;
  }

  .navbar-button {
    font-family: "Inter", sans-serif;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 12pt;
  }

  .sair {
    color: #fff;
    font-weight: 600;
  }

  #navbar {
    background-color: #525252;
  }

  #navbar .navbar-container ul li .navbar-button {
    background-color: #525252;
    color: white;
  }

  #navbar {
    color: white;
  }

  .navbar-button:hover {
    color: #7f53df;
    transition-duration: 400ms;
  }

  #historico:hover {
    color: #7f53df !important;
    transition-duration: 400ms !important;
  }
}

@media (prefers-color-scheme: light) {
  #navbar {
    background-color: #d2d2d2;
  }

  .sair {
    color: #000;
    font-weight: 600;
  }

  .navbar-button {
    color: rgb(0, 0, 0);
  }

  .navbar-button:hover {
    color: #7f53df;
    transition-duration: 400ms;
  }

  #navbar .navbar-container ul li .navbar-button {
    background-color: #d2d2d2;
    color: #181818;
  }

  #navbar {
    color: #181818;
  }

  #historico:hover {
    color: #7f53df !important;
    transition-duration: 400ms !important;
  }
} */

/* HEADER MENU HAMBURGUER */

header {
  width: 100%;
  height: 55px;
  padding: 5px;
  z-index: 2;
}

li > a {
  color: inherit;
  text-decoration: none;
}

.logo {
  width: 100px;
  cursor: pointer;
  margin-top: -27px;
}

.logo:hover {
  transform: scale(1.05);
}

.desktop_menu {
  margin-top: 5px;
}

.desktop_menu ul {
  padding: 0;
  margin: 0;
}

.desktop_menu ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 26px;
  font-weight: 400;
  transition: 0.4s ease-in-out;
}

.desktop_menu ul li:hover {
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  color: #7f53df;
}

.menu-icon {
  display: none;
}

/* Tamanho da tela onde o menu fica hamburguer */

@media screen and (min-width: 128px) and (max-width: 900px) {
  .desktop_menu {
    position: fixed;
    right: -200px;
    top: 50px;
    background: #e5e5e5;
    width: 200px;
    height: 100%;
    transition: 0.4s ease-in-out;
  }
  .desktop_menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid #7f53df;
  }
  .menu-icon {
    display: block;
    color: #7f53df;
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
  }
  .mobile-menu {
    right: 0;
    transition: 0.4s ease-in-out;
  }
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
  header {
    background: #2a194e;
  }

  .desktop_menu {
    background: #2a194e;
  }
}
