* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

#navbar {
    display: flex;
<<<<<<< HEAD
    background-color: #525252;
    color: white;
=======
    background-color: #252121;
>>>>>>> development
    font-weight: bold;
    justify-content: center;
    height: 50px;
    
}

#navbar .navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #BB44F3;
}

#navbar .navbar-container .logo {
<<<<<<< HEAD
    height: 100px;
=======
    height: 80px;
>>>>>>> development
    width: auto;
    padding-top: 2px;
    padding-left: 4px;
}

#navbar .navbar-container ul {
    display: flex;
    list-style: none;
}

#navbar .navbar-container ul li {
    padding: 0 20px;
   
}

#navbar .navbar-container ul li .navbar-button{
    font-family: 'Inter', sans-serif;
<<<<<<< HEAD
    border: none;
    background-color: #525252;
=======
    border: none;    
>>>>>>> development
    color: white;
    font-weight: bold;
    font-size: 12pt;
}

#navbar .navbar-container ul li .lupa{
    height: 16px;
    justify-content: space-between;
    padding: 0 20px;
}

<<<<<<< HEAD
@media (prefers-color-scheme: dark) {
    #navbar {
        background-color: #525252;
    }
}

@media (prefers-color-scheme: light) {
    #navbar {
        background-color: #d2d2d2;
    }
=======
@media (prefers-color-scheme: dark){
    .navbar-container .dark-mode{
        height: 80px;
        width: auto;
        padding-top: 2px;
        padding-left: 4px;
    }
    #navbar {
        background-color: #525252;        
    }
    #navbar .navbar-container ul li .navbar-button{
        background-color: #525252;
        color: white;
    }
    #navbar {
        color: white
    }
}

@media (prefers-color-scheme: light){
    #navbar {
        background-color: #d2d2d2;
    }
    #navbar .navbar-container ul li .navbar-button {
        background-color: #d2d2d2;
        color: #181818
    }
    #navbar {
        color: #181818
    }
>>>>>>> development
}


