@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root{
  --white: #FFFFFF;
  --gray200: #E5E5E5;
  --gray500: #737373;
  --gray700: #525252;
  --gray600: #262626;
  --gray800: #111111;
  
  --purple300: #C4AFF0;
  --purple400: #A484E8;
  --purple500: #A48AE8;
  --purple700: #7F53DF;
  --purple800: #6630D9;

  --red300: #E8848A;
  --green300: #84E8CB;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111111;
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #e5e5e5;
    color: #000000;
  }
}
