/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #e5e5e5;
  }
}
