<!-- Formulário de Depósito -->

<form [formGroup]="formulario" (submit)="enviar()">
  <input type="number" formControlName="contaId" placeholder="ID da Conta">
  <input type="number" formControlName="valor" placeholder="Valor">
  <input type="text" formControlName="descricao" placeholder="Descrição">
  <input type="submit" value="Enviar" />
</form>

<!-- Lista de Depósitos -->
<table>
  <tr *ngFor="let deposito of depositos">
    <td>{{ deposito.descricao }}</td>
    <td>{{ deposito.valor }}</td>
    <td>{{ deposito.horario | date: 'dd/MM/yyyy' }}</td>
  </tr>
</table>
