body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  position: relative; /* Adicionando posição relativa para container */
}
.form-container {
  background-color: #f4f4f4;
  background-image: url("../../assets/logotypes-login-cadastro/desktop-light.svg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 20px #bb44f3;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="number"],
input[type="text"],
input[type="tel"],
button {
  width: 100%;
  padding: 10px;
  border: 1px solid #bb44f3;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  background-color: #7f53df;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #bb44f3;
}

input[type="number"]:focus,
input[type="text"]:focus {
  outline: none;
  border-color: #bb44f3;
}

@media only screen and (min-width: 768px) and (prefers-color-scheme: dark) {
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }

  .container {
    max-width: 800px;
    margin: 50px auto;
    position: relative; /* Adicionando posição relativa para container */
  }
  .form-container {
    background-color: #f4f4f4;
    background-image: url("../../assets/logotypes-login-cadastro/desktop-dark.svg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px #bb44f3;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .input-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="number"],
  input[type="text"],
  button {
    width: 100%;
    padding: 10px;
    border: 1px solid #bb44f3;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #7f53df;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #bb44f3;
  }

  input[type="number"]:focus,
  input[type="text"]:focus {
    outline: none;
    border-color: #bb44f3;
  }
}

@media only screen and (min-width: 481px) and (prefers-color-scheme: dark) {
  .form-container {
    background-color: #f4f4f4;
    background-image: url("../../assets/logotypes-login-cadastro/desktop-dark.svg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px #bb44f3;
  }
}
/* Estilos para dispositivos móveis no modo light */
@media only screen and (max-width: 480px) and (prefers-color-scheme: light) {
  body {
    background-color: #e5e5e5;
    color: #000000;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0 0 20px rgba(127, 83, 223, 0.1);
    background-image: url("../../assets/logotypes-login-cadastro/desktop-light.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -10%;
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin: auto;
  }

  .input-group {
    margin-bottom: 5%;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 2%;
  }

  input[type="number"],
  input[type="text"],
  button {
    width: 100%;
    padding: 3%;
    border: 1px solid #bb44f3;
    border-radius: 5px;
    font-size: 4vw;
    box-sizing: border-box;
    margin-bottom: 5%;
    text-align: center;
    display: block;
    margin: auto;
  }

  button {
    background-color: #7f53df;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #bb44f3;
  }

  .input-group input[type="number"],
  .input-group input[type="text"] {
    width: 100%;
    margin: auto;
  }
}

/* Estilos para dispositivos móveis no modo dark */
@media only screen and (max-width: 480px) and (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #ffffff;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form-container {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0 0 20px rgba(127, 83, 223, 0.5);
    background-image: url("../../assets/logotypes-login-cadastro/desktop-dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -10%;
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin: auto;
    box-shadow: 0 0 20px white;
  }

  .input-group {
    margin-bottom: 5%;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 2%;
  }

  input[type="number"],
  input[type="text"],
  button {
    width: 100%;
    padding: 3%;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 4vw;
    box-sizing: border-box;
    margin-bottom: 5%;
    text-align: center;
    display: block;
    margin: auto;
  }

  button {
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: white;
    color: black;
  }

  .input-group input[type="number"],
  .input-group input[type="text"] {
    width: 100%;
    margin: auto;
  }
}
