
<div class="paginacartao">
    <div class="cartao">
        <app-cartao></app-cartao>
    </div>
    <div class="info-pagina">
        <div class="card-texto">
            <div class="texto">
                <h1>info</h1>
                <p>Texto sobre o cartão</p>
                <p>info info info</p>
                <p>info info</p>
                <p>info info info</p>
            </div>
        </div>
    
        <div class="historico">
            <app-historico></app-historico>
        </div>
    </div>
</div>