<div class="transacao-pix">
  <div class="pt-5 pb-5 m-5 ps-5 d-flex text-start justify-content-start">
    <div>
      <a [routerLink]="['/home']"><img id="seta-dark" src="../../assets/conta-criada/seta-dark.svg" alt=""></a>
      <a [routerLink]="['/home']"><img id="seta-light" src="../../../assets/conta-criada/seta-light.svg" alt=""></a>
    </div>
  </div>
  
    <div class="my-0 mx-auto">
      <div class="d-flex align-items-center justify-content-center">
        <div class="imagem-container">
          <img src="../../assets/pix/Rectangle 16.svg " alt="imagem do icone" class="imagem-icone" />
        </div>
        <div class="">
          <h1>REALIZAR</h1>
          <h2>TRANSFERENCIA</h2>
        </div>
      </div>
    </div>
  
    <form class="transacao-pix-form" [formGroup]="transferForm">
      <div class="form-group">
        <label for="valor" class="label">Valor:</label>
        <input type="tel" 
        id="valor" 
        name="valor" 
        placeholder="Exemplo: R$20,00"
        currencyMask
        formControlName="valor"
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left', allowNegative: false, max: 50000, min: 0.01 }" 
        required />
      </div>
  
      <div class="form-group">
        <label for="contaDestino" class="label">Número da Conta Destino:</label>
        <input type="text" 
        id="contaDestino" 
        name="contaDestino"
        formControlName="contaDestino" 
        placeholder="Exemplo: 000000" 
        mask="000000" 
        required />
      </div>
      <div class="form-group">
        <label for="pin" class="label">Confirmação PIN:</label>
        <input type="password" 
        id="pin" 
        name="pin"
        formControlName="pin"  
        placeholder="0000" 
        mask="0000" 
        required />
      </div>
  
      <div class="form-group">
        <label for="descricao" class="label">Descrição:</label>
        <textarea id="descricao" name="descricao" 
        formControlName="descricao" placeholder="Escreva alguma descrição sobre a transação"></textarea>
      </div>
  
        <button (click)="realizarTransferencia()">ENVIAR VALOR</button>

    </form>
  </div>
  